@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "vollda";
  src: url("../Assets/font/Vollda-Bold.otf") format("otf"); /* Sesuaikan dengan lokasi dan format file font */
  /* Mungkin perlu menambahkan properti lain seperti font-weight, font-style, dsb. */
}

.container-knowledge-sunankudus {
  padding: 25px;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  margin-top: 42px;
}

.head-content {
  display: flex;
  gap: 40px;
}

.gallery {
  --s: 150px; /* control the size */
  --g: 5px;   /* control the gap */
  
  display: grid;
  grid: auto-flow var(--s)/repeat(2,var(--s));
  gap: var(--g);
}
.gallery > img {
  width: 100%; 
  aspect-ratio: 1;
  cursor: pointer;
/*   filter: grayscale(); */
  z-index: 0;
  transition: .25s,z-index 0s .25s;
}
.gallery > img:hover {
  width: calc(200% + var(--g));
  filter: grayscale(0);
  z-index: 1;
  --_c: 100%;
  border-radius: 20px;
  transition: .4s,z-index 0s;
}
.gallery > img:nth-child(1){
  border-radius: 20px;
  place-self: start;
}
.gallery > img:nth-child(2){
  border-radius: 20px;
  place-self: start end;
}
.gallery > img:nth-child(3){
  border-radius: 20px;
  place-self: end start;
}
.gallery > img:nth-child(4){
  border-radius: 20px;
  place-self: end;
}

.img img {
  width: 100%;
  height: auto;
}

.name-wali {
  color: #2e6f34;
  font-family: "vollda", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.born-die {
  margin-top: 18px;
}

.text-born {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text-die {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.location {
  display: flex;
  gap: 10px;
  margin-top: 26px;
}

.icon-location {
  padding: 3px 5px;
  font-size: 20px;
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
}

.location p {
  color: #4b4b4b;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.address-location {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  width: 65%;
}

.btn-to-location {
  font-size: 16px;
  color: white;
  background-color: #2e6f34;
  padding: 13px 60px;
  margin-top: 24px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn-to-location:hover {
  background-color: #327b39;
}

.icon-arrow {
  font-size: 24px;
}

@media only screen and (max-width: 1100px) {
  .address-location{
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .head-content{
    display: flex;
    flex-direction: column;
  }
}

.content-information-wali {
  margin-top: 40px;
}

.title-information p {
  color: #2e6f34;
  font-family: "vollda", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.container-origin {
  background-color: #e0e9e1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 46px;
}

.title-origin {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.desc-origin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
  text-align: justify;
}

.btn-play {
  background-color: #2e6f34;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  margin-top: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-sound {
  font-size: 26px;
}

.btn-play:hover {
  background-color: #327b39;
}

.container-method {
  background-color: #e0e9e1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 46px;
}

.title-method {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.desc-method {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
  text-align: justify;
}

.container-culture {
  background-color: #e0e9e1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 46px;
}

.title-culture {
  color: #4b4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.desc-culture {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
  text-align: justify;
}

.preview-content {
  padding: 25px;
  background-color: #e0e9e1;
  border-radius: 20px;
  margin-top: 46px;
}

.desc-preview {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 18px;
}

.btn-test-knowledge {
  background-color: #2e6f34;
  padding: 10px;
  font-size: 20px;
  color: white;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

.btn-test-knowledge:hover {
  background-color: #327b39;
}

@media only screen and (max-width: 900px) {
  .title-origin{
    font-size: 22px;
  }

  .desc-origin{
    font-size: 16px;
  }
  
  .container-method{
    margin-top: 30px;
  }

  .title-method{
    font-size: 22px;
  }

  .desc-method{
    font-size: 16px;
  }

  .container-culture{
    margin-top: 30px;
  }

  .title-culture{
    font-size: 22px;
  }

  .desc-culture{
    font-size: 16px;
  }

  .btn-play{
    font-size: 16px;
  }

  .icon-sound{
    font-size: 22px;
  }

  .desc-preview{
    font-size: 16px;
  }

  .btn-test-knowledge{
    font-size: 16px;
  }
}